filebeat:
  inputs:
    - paths:
        - '/var/log/secure*'
      type: 'log'
      tags: ["secure"]
      processors:
        - add_tags:
            tags: ["failure"]
            target: "tags"
            when:
              contains:
                message: "failure"
        - add_tags:
            tags: ["success"]
            target: "tags"
            when:
              contains:
                message: "success"
    - paths: '/var/log/messages*'
      type: 'log'
      tags: ["messages"]
  http:
    enabled: true
    host: localhost
    port: 8080
  output:
    logstash:
      hosts:
        - logstash1.example.com
        - logstash2.example.com
      ssl:
        certificate_authorities: |
          CA cert PEM content
          (needs replacing)
        certificate: |
          Cert PEM content
          (needs replacing)
        key: |
          Key PEM content
          (needs replacing)